<div class="row">
 <form class="col s12" action="signup" method="post">
   <div class="row">
     <div class="input-field col s6">
       <input id="last_name" type="text" class="validate" autocomplete="off" name="username">
       <label for="last_name">User name</label>
     </div>
   </div>
   <div class="row">
     <div class="input-field col s6">
       <input id="password" type="password" class="validate" autocomplete="off" name="email">
       <label for="password">Password</label>
     </div>
   </div>
   <div class="row">
     <div class="input-field col s6">
       <input id="email" type="email" class="validate" autocomplete="off" name="email">
       <label for="email">Email</label>
     </div>
   </div>
   <div class="row">
     <div class="input-field col s1">
       <input id="age" type="number" class="validate" autocomplete="off" name="age">
       <label for="age">Age</label>
     </div>
   </div>
   <div class="row">
     <div class="input-field col s1">
       <input id="address" type="text" class="validate" autocomplete="off" name="address">
       <label for="address">Address</label>
     </div>
   </div>
    <div class="row">
      <input type="submit" class="waves-effect waves-light red lighten-4 btn-large" value="Sign up">
    </div>
 </form>
</div>

<% if (typeof errorMessage !== "undefined") { %>
  <div class="error-message"><%= errorMessage %></div>
<% } %>
