<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
      <% if (!user) {%>
        <a href="auth/login">Login</a>
        <a href="/auth/signup">Sign up</a>
      <%} else {%>
        <a href="/auth/logout">Logout</a>
        <% if (user.isAdmin) { %>
          <a href="/flavours">Check our flavours here!</a>
        <% } %>
        <a href="/orders">Check your orders here!</a>
      <% } %>
  </body>
</html>
