<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
      <li><a href="auth/login">Login</a></li>
      <li><a href="/auth/signup">Sign up</a></li>
      <li><a href="/auth/logout">Logout</a></li>
    </ul>
    <a href="/flavours">Check our flavours here!</a>
    <a href="/orders">Check your orders here!</a>
  </body>
</html>
