<% if (user) {%>
  <nav>
  <div class="nav-wrapper grey lighten-5">
    <a href="/" class="brand-logo">
      <span class="row">
        <span class="col">
          <img src="/images/icy-name.png" alt="Icy name icon" height=25>
        </span>
      </span>
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a href="/flavours" class="grey-text">Admin</a>
      </li>
      <li>
        <a href="/auth/logout" class="grey-text">Sign out</a>
      </li>
    </ul>
  </div>
</nav>
<% } %>

<div class="container main home">
  <div class="row">
    <div class="col m8 s12">
      <img src="/images/icy.png" alt="Icy logo" class="icy-logo">
      <h3 class="custom-text">Order on your own with no approach to the queue.</h3>
    </div>
  </div>
  <% if (!user) {%>
    <div class="row">
      <div class="col">
        <a href="auth/login" class="waves-effect waves-light red lighten-4 btn-large z-depth-0"><i class="material-icons left">person</i>Log in</a>
      </div>
      <div class="col">
        <a href="/auth/signup" class="waves-effect waves-light red lighten-4 btn-large z-depth-0"><i class="material-icons left">person_add</i>Sign up</a>
      </div>
    </row>
  <%} else {%>
    <a href="/orders" class="waves-effect waves-light red lighten-4 btn-large z-depth-0">Get your ice cream!</a>
  <% } %>
</div>

