<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>DETAIL PAGE</p>
    <h1><%= flavour.name %></h1>
    <a href="/flavours"> Go back </a>
  </body>
</html>
