<section>
  <h2>Upload your photo</h2>
  <form action="new" method="post" enctype="multipart/form-data">
    <input type="text" value="name">
    <input type="text" value="flavour">
    <input type="text" value="description">
    <input type="file" name="photo">
    <input type="submit" value="Save">
  </form>
</section>
