<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <section>
      <h2>Upload your photo</h2>
      <form action="new" method="post" enctype="multipart/form-data">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" value="<%= flavour.name %>">
        <label for="flavour">Flavour</label>
        <input type="text" name="flavour" id="flavour" value="<%= flavour.price %>">
        <label for="description">Description</label>
        <input type="text" name="description" id="description" value="<%= flavour.description %>">
        <label for="photo">Image</label>
        <input type="file" name="photo" id="photo" value="<%= flavour.picPath %>">
        <label for="no-lactose">No lactose</label>
        <input type="checkbox" name="no_lactose" id="no_lactose" <% if(!flavour.hasLactose){%>checked<%}%>>
        <label for="no-egg">No egg</label>
        <input type="checkbox" name="no_egg" id="no_egg" <% if(!flavour.hasEgg){%>checked<%}%>>
        <label for="no-nuts">No nuts</label>
        <input type="checkbox" name="no_nuts" id="no_nuts" <% if(!flavour.hasNuts){%>checked<%}%>>
        <input type="submit" value="Save">
      </form>
    </section>
  </body>
</html>
