<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<ul>
  <% orders.forEach((order) => { %>
    <li>
      <span><%= order.type %></span>
      <a href="/orders/<%= order.id %>/delete">Delete this order</a>
    </li>
    <%  }) %>
</ul>
<a href="/orders/new">Create a New Order</a>
<a href="/flavours"> Go Back </a>
