<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <section>
      <h2> New Order </h2>
      <a href="/orders/edit">Edit your order</a>
      </form>
    </section>
  </body>
</html>
